<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">

</head>
<body>

<div>
    Hello! This is car-store.
    <p th:utext="${car}">
</div>

<a href="/">На главную</a>
<table class="table">
    <table class="table table-striped">
        <thead class="table-light">
    <thead>
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Power</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${carList}">
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"/>
        <td th:text="${car.horsePower}"/>
    </tr>
    </tbody>
</table>

    <table class="table">
        <table class="table table-striped">
            <thead class="table-light">
            <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Power</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${carMenuList}">
                <td th:text="${car.brand}"></td>
                <td th:text="${car.model}"/>
                <td th:text="${car.horsePower}"/>
            </tr>
            </tbody>
        </table>
</body>
</html>